:root {
    --color-primary-0: #004981;
    /* Main Primary color */
    --color-primary-1: #006DC1;
    --color-primary-2: #005699;
    --color-primary-3: #003C6A;
    --color-primary-4: #002C4E;
    --color-secondary-1-0: #C89600;
    /* Main Secondary color (1) */
    --color-secondary-1-1: #FFBF00;
    --color-secondary-1-2: #EDB200;
    --color-secondary-1-3: #A47B00;
    --color-secondary-1-4: #795A00;
    --color-secondary-2-0: #C83900;
    /* Main Secondary color (2) */
    --color-secondary-2-1: #FF4900;
    --color-secondary-2-2: #ED4300;
    --color-secondary-2-3: #A42F00;
    --color-secondary-2-4: #792200;
}